Email AI Agent_Workflow.json
{
  "name": "Daily Financial Research + Prices Email Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        160
      ],
      "id": "2000f566-f0e0-4c92-a447-c75f9038a10f",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=site:reuters.com+markets&hl=en-IN&gl=IN&ceid=IN:en",
        "options": {}
      },
      "name": "RSS Reuters Business",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c66bff91-c38c-4cf6-9559-a9ef32a5a1cb"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=site:reuters.com+business&hl=en-IN&gl=IN&ceid=IN:en",
        "options": {}
      },
      "name": "RSS CNBC",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "326b58d1-1af5-4ab9-94f4-f049c0936b00"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=site:cnbc.com+markets&hl=en-IN&gl=IN&ceid=IN:en",
        "options": {}
      },
      "name": "RSS Yahoo Finance",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "1a7f70f6-6f55-420c-ab2a-ee3003a43ece"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=site:ft.com+markets&hl=en-IN&gl=IN&ceid=IN:en",
        "options": {}
      },
      "name": "RSS Moneycontrol",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "2b9e6f92-4f5c-41f0-b8f5-e7c1be509295"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=site:economictimes.indiatimes.com+markets&hl=en-IN&gl=IN&ceid=IN:en",
        "options": {}
      },
      "name": "RSS LiveMint Markets",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "d9cc93fb-afb7-45d5-9750-c1bf2bf339ef"
    },
    {
      "parameters": {},
      "name": "Merge 1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        240,
        64
      ],
      "id": "1f7e4d26-8011-42f6-8981-e4f3e9d7fed7"
    },
    {
      "parameters": {},
      "name": "Merge 2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        464,
        128
      ],
      "id": "6378f9f3-4344-4aea-a803-2452c857ea16"
    },
    {
      "parameters": {},
      "name": "Merge 3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        688,
        192
      ],
      "id": "950b77aa-54a5-4ee9-bbad-f4bf244f761f"
    },
    {
      "parameters": {},
      "name": "Merge 4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        912,
        272
      ],
      "id": "d5b4b1c7-4f10-4124-8a66-c4c338268164"
    },
    {
      "parameters": {
        "jsCode": "// Keep first 15 items\nreturn items.slice(0, 15);"
      },
      "name": "Top 15 Headlines",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        272
      ],
      "id": "32ed6613-b0d8-421d-8985-a4fe82133baa"
    },
    {
      "parameters": {
        "url": "=https://yahoo-finance166.p.rapidapi.com/api/news/list?snippetCount=500&region=US",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "AAPL,MSFT,TSLA,NVDA,GOOGL,AMZN,^GSPC,^IXIC,^DJI,GC=F,CL=F,USDINR=X,^NSEI,^BSESN"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Key",
              "value": "9c1c5c3c77msh5cfa2902b69e937p1f71c1jsn02cf6544ae65"
            },
            {
              "name": "X-RapidAPI-Host",
              "value": "yahoo-finance166.p.rapidapi.com"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "name": "Yahoo Finance Prices (RapidAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        912,
        560
      ],
      "id": "2688a8de-9367-4106-8344-6147836746ef"
    },
    {
      "parameters": {},
      "name": "Merge News + Prices",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1456,
        288
      ],
      "id": "31151c9a-92f9-4b15-9fb3-8a5265db0967",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const news = $input.all().map(i => i.json);\n\nlet text = `🗞️ Daily Market News Brief\\n`;\ntext += `📅 ${new Date().toDateString()}\\n\\n`;\ntext += `Top Headlines:\\n\\n`;\n\nnews.forEach((n, idx) => {\n  text += `${idx + 1}) ${n.title}\\n${n.link}\\n\\n`;\n});\n\n// ✅ Add Signature\ntext += `---\\n`;\ntext += `Regards,\\n`;\ntext += `Syed Mohammad Bilal\\n`;\ntext += `Financial Research Analyst\\n`;\n\nreturn [{ json: { emailText: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        288
      ],
      "id": "4086b176-290d-49c5-a2e4-72c24a607fbf",
      "name": "Build Email"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=You are my daily financial research analyst.\n\nYou will receive n8n items that include:\n- News headlines (title + link)\n\nCreate a crisp email-ready report in this format:\n\nSubject: Daily Market News Brief — {{ $now.format(\"dd MMM yyyy\") }}\n\n1) Market Snapshot (5 bullets)\n2) Top Headlines (numbered) with 1-line “why it matters”\n3) Key Themes (3–5 bullets)\n4) Today’s Watchlist (5 items)\n5) Action Plan (3 bullets)\n\nRules:\n- No fluff.\n- Do NOT invent numbers or facts.\n- Use ONLY the provided input.\n- If a section has insufficient data, say \"Not enough data provided.\"\n- Use links only under the headline section.\n\nReturn output as plain text (email-ready). No JSON.\n\nINPUT DATA (raw n8n items):\n{{ JSON.stringify($input.all()) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1872,
        288
      ],
      "id": "df678fb6-4257-43b0-b607-0e0f3a25726e",
      "name": "Message a model",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "openAiApi": {
          "id": "3V35L9FdKZ7iHNYO",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "\n"
    },
    {
      "parameters": {
        "sendTo": "smbnaqvi111@gmail.com",
        "subject": "=Daily Financial Report - {{ $now.format('dd MMM yyyy') }}",
        "emailType": "text",
        "message": "={{ $node[\"Message a model\"].json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2224,
        288
      ],
      "id": "a7a5ff87-f32c-4850-9a10-4d788b52c898",
      "name": "Send a message",
      "webhookId": "769fe41c-9e6a-48dc-b152-589ad7afc022",
      "credentials": {
        "gmailOAuth2": {
          "id": "PEayhDT5xUaXrmCN",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Reuters Business",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS CNBC",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Yahoo Finance",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Moneycontrol",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS LiveMint Markets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Yahoo Finance Prices (RapidAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Reuters Business": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS CNBC": {
      "main": [
        [
          {
            "node": "Merge 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 1": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Yahoo Finance": {
      "main": [
        [
          {
            "node": "Merge 2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 2": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Moneycontrol": {
      "main": [
        [
          {
            "node": "Merge 3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 3": {
      "main": [
        [
          {
            "node": "Merge 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS LiveMint Markets": {
      "main": [
        [
          {
            "node": "Merge 4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 4": {
      "main": [
        [
          {
            "node": "Top 15 Headlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top 15 Headlines": {
      "main": [
        [
          {
            "node": "Merge News + Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yahoo Finance Prices (RapidAPI)": {
      "main": [
        [
          {
            "node": "Merge News + Prices",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge News + Prices": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6fd69068-826f-4817-9404-3471c6fda781",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42566607c93e6e7ae5161dd3a1aef35faa7bd14d9fab814e7ee7e89a46b6792b"
  },
  "id": "ZHfG0k4uUNYjaUAOPhj3s",
  "tags": []
}